@()
@page("Feedback-App") {
<div class="alert alert-primary" role="alert">
    <h1>Feedbackapp</h1>
</div>
<h2 data-brackets-id="10">Wieso brauche ich diese App?</h2>

<!--
    GEMACHT MIT <3 UND JAVASCRIPT
-->

<p data-brackets-id="11">
    Ist euch auch manchmal im Unterricht langweilig und ihr wollt es eurem Lehrer sagen?
    <br data-brackets-id="71">Dann ist  diese App genau das Richtige für euch!
    <br data-brackets-id="72">Warum?
    <br data-brackets-id="79">...Weil ihr hier anonym eurem Lehrer ein Feedback geben könnt.Das geht auch schnell und einfach im Unterricht.Euer Lehrer sieht euer Feedback dann sofort.
</p>

<h2 data-brackets-id="107">Wie funktioniert das?</h2>
<ol data-brackets-id="112">
    <li data-brackets-id="117">Klickt den unten gegebenen Link an.</li>
    <li data-brackets-id="130">Meldet euch an.</li>
    <li data-brackets-id="135">Gebt euer Feedback ab.</li>
    <li data-brackets-id="144">Wartet darauf,dass der Unterricht spannender wird.</li>
</ol>

        <p><a href="@controllers.routes.Anmeldung.anmeldung()">Zur Anmeldung</a></p>
}